<div class="comment">
    <p><strong>{{ current_comment['username'] }}</strong> on {{ current_comment['created'].strftime('%Y-%m-%d %H:%M') }}</p>
    <p>{{ current_comment['body'] }}</p>
    <form action="{{ url_for('blog.like_comment', comment_id=current_comment['id']) }}" method="POST" style="display:inline;">
      <button type="submit" style="background:none; border:none; cursor:pointer;">
        <i class="fas fa-heart"></i>
      </button>
      <p style="display:inline;">{{ current_comment['likes'] }}</p>
    </form>
    <button class="reply-button" onclick="showReplyForm({{ current_comment['id'] }})">Reply</button>
    <div class="reply-form" id="reply-form-{{ current_comment['id'] }}" style="display:none;">
        <form action="{{ url_for('blog.add_comment', id=current_comment['post_id']) }}" method="POST">
            <textarea name="body" rows="1" required></textarea><br>
            <input type="hidden" name="parent_id" value="{{ current_comment['id'] }}">
            <button class="reply-submit" type="submit">Submit</button>
        </form>
    </div>
    {% if current_comment['replies'] %}
        <div class="replies">
            {% for reply in current_comment['replies'] %}
                {% set current_comment = reply %}
                {% include 'blog/comment.html' %}
            {% endfor %}
        </div>
    {% endif %}
  </div>
  